# Entorno virtual
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Datos descargados (muy pesados, se regeneran con el script)
datos/crudo/*.gb
datos/crudo/*.fasta
backend/resultados

# IDE
.vscode/
.idea/
*.swp
*.swo
.claude/

# OS
.DS_Store
Thumbs.db

# API Keys
claves_api.txt

# Jupyter
.ipynb_checkpoints/

null
null/
.null