# Entorno virtual
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Datos descargados (muy pesados, se regeneran con el script)
datos/crudo/*.gb
datos/crudo/*.fasta
datos/crudo/*.json

# Resultados (se regeneran ejecutando los scripts)
resultados/tablas/*.json
resultados/tablas/*.csv
resultados/figuras/*.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
